D:\Descargas\3er Ciclo\Programacion Visual\ProyectoVeterinaria\Proyecto\ProyectoVeterinaria\SoftwareVeterinaria\src\Model\ConectionPg.java
SoftwareVeterinaria/src/Model/ConectionPg.java
SoftwareVeterinaria/src/Model/ConectionPg.java
SoftwareVeterinaria/src/Model/ConectionPg.java
SoftwareVeterinaria/src/Model/ConectionPg.java
SoftwareVeterinaria/nbproject/private/private.xml
SoftwareVeterinaria/nbproject/private/private.properties
SoftwareVeterinaria/nbproject/private/private.xml
SoftwareVeterinaria/nbproject/private/private.xml
SoftwareVeterinaria/nbproject/private/private.properties
SoftwareVeterinaria/src/Model/ConectionPg.java
SoftwareVeterinaria/src/Model/ConectionPg.java
SoftwareVeterinaria/src/Model/ConectionPg.java
SoftwareVeterinaria/nbproject/private/private.xml
/SoftwareVeterinaria/build/
SoftwareVeterinaria/src/View/MenuPrincipal/MenuPrincipal.form
SoftwareVeterinaria/src/View/MenuPrincipal/MenuPrincipal.java
*.java
SoftwareVeterinaria/nbproject/private/private.xml
*.xml
/SoftwareVeterinaria/dist/
!/SoftwareVeterinaria/src/Model/Clientes/Clientes.java
!/SoftwareVeterinaria/src/Model/Clientes/ModeloClientes.java
